@keyframes top-flower {
	from {
		width: 80%;
		opacity: 0;
	}

	to {
		width: 130%;
		opacity: 1;
	}
}
@keyframes bottom-flower {
	from {
		width: 80%;
		opacity: 0;
	}

	to {
		width: 130%;
		opacity: 1;
	}
}
@keyframes left-flower {
	from {
		right: 100%;
	}

	to {
		right: 80%;
	}
}

@keyframes right-flower {
	from {
		left: 100%;
	}

	to {
		left: 85%;
	}
}

@keyframes up-arrow {
	from {
		bottom: -60px;
		opacity: 1;
	}

	to {
		bottom: 60px;
		opacity: 0;
	}
}

@keyframes flower-rotate {
	0% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

	50% {
		transform: rotate(179deg);
		-webkit-transform: rotate(179deg);
	}

	100% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
}
@keyframes border {
	from {
		top: 40%;
		width: 20%;
		height: 20%;
		opacity: 0;
	}

	to {
		top: 5%;
		width: 100%;
		height: 95%;
		opacity: 1;
	}
}

@keyframes hidden-b2-4 {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes hidden-b4-6 {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes butterfly-right {
	0% {
		transform: rotate(10deg) scale(0.9);
		-webkit-transform: rotate(10deg) scale(0.9);
		right: 10%;
		top: 40%;
	}

	50% {
		transform: rotate(0deg) scale(1);
		-webkit-transform: rotate(0deg) scale(1);
		right: 12%;
		top: 44%;
	}

	100% {
		transform: rotate(10deg) scale(0.9);
		-webkit-transform: rotate(10deg) scale(0.9);
		right: 10%;
		top: 40%;
	}
}

@keyframes butterfly-left {
	0% {
		transform: rotate(10deg) scale(0.9);
		-webkit-transform: rotate(10deg) scale(0.9);
		left: 15%;
		top: 46%;
	}

	50% {
		transform: rotate(0deg) scale(1);
		-webkit-transform: rotate(0deg) scale(1);
		left: 15%;
		top: 43%;
	}

	100% {
		transform: rotate(10deg) scale(0.9);
		-webkit-transform: rotate(10deg) scale(0.9);
		left: 15%;
		top: 46%;
	}
}

@keyframes heart {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}

}
